/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--accent-font, sans-serif);
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  margin: 10px;
  display: grid;
  position: relative;
  height: 100vh;
}

.header::before {
  position: absolute;
  content: "";
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  width: 25px;
  height: 25px;
  right: 0px;
}

.header::after {
  position: absolute;
  content: "";
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  width: 25px;
  height: 25px;
  left: 0px;
  bottom: 0px;
}

.header__rec {
  position: relative;
  color: var(--accent-color);
  font-family: var(--accent-font, sans-serif);
  line-height: 25px;
  margin-left: auto;
  padding-right: 30px;
  font-size: 18px;
}

.header__rec::after {
  position: absolute;
  content: "";
  filter: drop-shadow(0px 0px 4px var(--accent-color));
  background-color: var(--accent-color);
  border-radius: 50%;
  width: 9px;
  height: 9px;
  top: 7px;
  left: 42px;
}

.header__theme-menu-list {
  display: grid;
  justify-content: end;
  margin-block-start: 41px;
}

.header__theme-menu-item:not(:first-child) {
  margin-top: 13px;
}

.header__theme-menu-button {
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  font-size: 18px;
  line-height: 100%;
  padding: 2px 12px 3px 12px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__title {
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  text-align: left;
  margin-block-start: 65px;
}

.header__text-wrapper {
  display: grid;
  justify-items: end;
  margin-block-start: 57px;
  margin-block-end: 57px;
}

.header__text {
  font-size: 18px;
  color: var(--bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  min-width: 355px;
  max-width: 364px;
}

.content {
  background-color: var(--bg-color);
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 40px;
}

.content__title {
  font-family: var(--accent-font, sans-serif);
  font-size: 18px;
  font-weight: 700;
  color: var(--accent-color);
  line-height: 130%;
}

.content__subtitle {
  font-family: var(--accent-font);
  color: var(--bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  margin-block-start: 20px;
}

.content__text {
  color: var(--text-color);
  font-weight: 400;
  line-height: 130%;
  margin-block-start: 10px;
  font-size: 18px;
}

.text-shadow {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration-line: none;
}

.text-shadow:hover {
  border-block-end: 1px solid var(--text-color);
}

.text-shadow:focus {
  border: 1px solid var(--text-color);
}

.concentration__title {
  margin-block-start: 50px;
}

.recommendation__title {
  margin-block-start: 50px;
}

.images__title {
  margin-block-start: 50px;
  color: var(--bg-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  background-color: var(--accent-color);
}

.images img {
  margin-block-start: 10px;
}

.footer {
  position: relative;
  padding: 27px 10px 10px 10px;

  background-color: var(--bg-color);
}

.footer::before {
  position: absolute;
  content: "";
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  width: 25px;
  height: 25px;
  right: 10px;
  top: 31px;
}

.footer::after {
  position: absolute;
  content: "";
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  width: 25px;
  height: 25px;
  left: 10px;
  bottom: 48px;
}

.footer__title {
  color: var(--header-title-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  margin-block-start: 255px;
  margin-block-end: 285px;
  text-align: center;
}

@media (min-width: 768px) {
  .header {
    margin: 20px;
  }

  .header__theme-menu-list {
    margin-block-start: 147px;
  }

  .header__title {
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-block-start: 179px;
  }

  .header__text-wrapper {
    margin-block-start: 161px;
    margin-block-end: 164px;
  }

  .content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .focus {
    display: grid;
    grid-template-columns: 236px auto;
  }

  .focus__title {
    margin-block-start: 20px;
  }

  .focus__wrap {
    margin-inline-start: 19px;
  }

  .concentration {
    margin-block-start: 80px;
  }

  .concentration__title {
    max-width: 236px;
    margin-block-start: 0;
  }

  .recommendation {
    display: grid;
    grid-template-columns: 236px auto;
    grid-template-rows: 23px auto;
    margin-block-start: 82px;
    column-gap: 20px;
  }

  .recommendation__title {
    margin-block-start: 0;
    grid-row: 1/3;
  }

  .recommendation__subtitle {
    max-height: 23px;
    margin-block-start: 0;
  }

  .recommendation__wrap {
    grid-column: 2/3;
  }

  .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
    margin-block-start: 82px;
  }

  .images img {
    margin-block-start: 0;
  }

  .images__title {
    margin-block-start: 0;
    grid-row: 1/2;
    grid-column: 1/4;
  }

  .images__sunset {
    grid-row: 2/3;
    grid-column: 1/3;
  }

  .images__ice-cream {
    grid-row: 2/4;
    grid-column: 3/4;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .images__tape {
    grid-row: 3/5;
    grid-column: 1/2;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .images__books {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  .images__street {
    grid-row: 4/5;
    grid-column: 2/4;
  }

  .footer {
    padding: 80px 20px 20px 20px;
  }

  .footer::before {
    top: 79px;
    right: 21px;
  }

  .footer::after {
    left: 19px;
  }

  .footer__title {
    margin-block-start: 415px;
    margin-block-end: 440px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .header {
    grid-template-rows: 26px auto auto;
    grid-template-columns: auto 60px;
  }

  .header__rec {
    order: 1;
    grid-row: 1/2;
    padding-right: 28px;
  }

  .header__theme-menu {
    order: 0;
    grid-row: 1/2;
    display: grid;
    justify-content: center;
    margin-inline-start: 60px;
  }

  .header__theme-menu-list {
    margin-block-start: 2px;
    display: flex;
    margin-inline-end: 0;
    gap: 13px;
  }

  .header__theme-menu-item:not(:first-child) {
    margin-top: 0;
  }

  .header__title {
    order: 1;
    grid-column: 1/3;
    margin-block-start: 274px;
  }

  .header__text-wrapper {
    order: 1;
    grid-column: 1/3;
    margin-block-start: 115px;
    margin-block-end: 115px;
  }

  .header__text {
    max-width: 491px;
  }

  .focus {
    grid-template-columns: 285px auto;
  }

  .focus__wrap {
    margin-inline-start: 50px;
  }

  .concentration__title {
    max-width: 260px;
  }

  .concentration__wrap {
    display: grid;
    grid-template-rows: 23px auto;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
    margin-block-start: 22px;
  }

  .concentration-multitasking__title {
    margin-block-start: 0;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .concentration-multitasking__text {
    grid-column: 1/2;
    margin-block-start: 0;
  }

  .recommendation {
    grid-template-columns: 315px auto;
  }

  .food__title {
    margin-block-start: 0;
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .food__text {
    grid-row: 2/3;
    grid-column: 2/3;
    margin-block-start: 0;
  }

  .gadgets__title {
    margin-block-start: 0;
    grid-row: 1/2;
    grid-column: 3/4;
  }

  .gadgets__text {
    margin-block-start: 0;
    grid-row: 2/3;
    grid-column: 3/4;
  }

  .footer__title {
    margin-block-start: 261px;
    margin-block-end: 289px;
  }
}
